{% extends "index.html" %}
{% block content %}

<div class="container">
    <h3 class="my-h3" style="font-weight:bolder;">{{interface["tool"]}}</h3>
    <br>
    <h3 class="my-h3">Info</h3>
    <hr>
    <div class="row">

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="font-weight-bold">Tool Description</h4>
                    <p>{{interface["tool_desc"]}}</p>
                    <hr><h4 class="font-weight-bold">API Description</h4>
                    <p>{{interface["api_desc"]}}</p>
                    {% if interface["owner"] %}
                    <hr>
                    <h4 class="font-weight-bold">Support</h4>
                    <div>
                        <p class="left">{{interface["owner"]}}
                            <span class="right"><a href="mailto:{{interface['email']}}"
                                    class="text-right">{{interface["email"]}}</a></span>
                        </p>
                    </div>
                    {% endif %}
                    <!--
                    <hr>
                    <h4 class="font-weight-bold">Register for updates</h4>
                    <label for="exampleInputEmail1">Email address</label>
                    <div class="flex-box-2">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            style="margin-right: 2.5em;" placeholder="Coming soon" disabled></input>
                        <button type="submit" class="btn btn-primary" , disabled="disabled">Register</button>
                    </div>
                    <small id="emailHelp" class="form-text text-muted">Get emails about updates to this component's
                        interfaces</small> -->
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    {% if interface['type_upd']!='unknown' %}
                    <h4 class="font-weight-bold">Version</h4>

                        <p>
                            {% if interface["type_upd"] == "patch" %}
                            <span class="greenDot"></span> Patch
                            {% elif interface["type_upd"] == "new" %}
                            <span class="greenDot"></span> New
                            {% elif interface["type_upd"] == "minor" %}
                            <span class="yellowDot"></span> Minor
                            {% elif interface["type_upd"] == "major" %}
                            <span class="redDot"></span> Major
                            {% endif %}
                             - {{interface["api_version"]}} -
                            {{interface["api_type"]}}
                        </p>
                    <hr>
                    {% endif %}
                    <h4 class="font-weight-bold">Last Updated</h4>
                    <p>{{interface["updated"]}}</p>
                    <hr>
                    <h4 class="font-weight-bold">Valid Until</h4>
                    <p>{{interface["expires"]}}</p>
                    <hr>
                    <h4 class="font-weight-bold">First Added</h4>
                    <p>{{interface["created"]}}</p>
                </div>
            </div>
        </div>
    </div>

    <h3 style="padding-top: 2em;" class="my-h3">Docs</h3>
    <hr>
        <table class="table">
            <thead>
                <th scope="col">Description</th>
                <th scope="col">Format</th>
            </thead>
            <tbody>
                {% if interface["doc"] %}
                <tr>
                    <td><a href="{{interface['doc']}}">Online documentation</a></td>
                    <td>HTTPS</td>
                </tr>
                {% endif %}
                {% if docs['url'] %}
                <tr>
                    <!-- TODO Puntare link a playground -->
                    <td><a href="{{docs['url']}}">Link to schema</a></td>
                    <td>{{docs['type']}}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>

    <br>
    {% if changelog %}
    <h3 class="my-h3">Changelog for latest update</h3>
    <hr>
    <div class="row">This is an autogenerated changelog for the latest update to this tool</div>
    <hr>
    <div class="row">
        <div class="col">
            <iframe style=" width: 100%; border: none; margin: 0; padding: 0; overflow: hidden; z-index: 999999; height: 100vh; " srcdoc="{{ changelog }}" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}