{% extends "index.html" %}
{% block content %}
<div class="container">
    <div class="flex-box-3">
        <h4 style="align-self: center;">Interfaces registered</h4>
        {{pagination.links}}
        <!-- <span class="right">{{ pagination.links }}</span> -->
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tool</th>
                <th scope="col">Version</th>
                <th scope="col">Update type</th>
                <th scope="col">Last Updated &darr;</th>
            </tr>
        </thead>
        <tbody>
            {% for el in interfaces %}
                {% set a = el["id"] %}
                <tr class="riga" onclick="location.href='list/{{a}}';">
                    <th scope="row">{{ loop.index + pagination.skip }}</th>
                    <td>{{el["tool"]}}</td>
                    <td>{{el["api_version"]}}</td>
                    {% if el["type_upd"] == "patch" %}
                    <td style="white-space: nowrap;"><span class="greenDot"></span>Patch</td>
                    {% elif el["type_upd"] == "new" %}
                    <td style="white-space: nowrap;"><span class="greenDot"></span>New</td>
                    {% elif el["type_upd"] == "minor" %}
                    <td style="white-space: nowrap;"><span class="yellowDot"></span>Minor</td>
                    {% elif el["type_upd"] == "major" %}
                    <td style="white-space: nowrap;"><span class="redDot"></span>Major</td>
                    {% elif el["type_upd"] == "unknown" %}
                    <td style="white-space: nowrap;"><span class="greyDot"></span>Unknown</td>
                    {% endif %}
                    <td>{{el["last_upd"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}