.main-title {
    text-align: center;
}

.sub-title {
    text-align: center;
}

.my-h3 {
    text-align: center;
}

.right{
    float:right;
}

.left{
    text-align:left;
}

.flex-box-2 {
  display:flex;
  justify-content: flex-end;
}

.flex-box-3 {
  display:flex;
  justify-content: space-between;
}


.email-form {
    align-content: center;
}


body {overflow-y:scroll;}

.riga {
  cursor: pointer;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}

.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

.greenDot {
  height: 15px;
  width: 15px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.yellowDot {
  height: 15px;
  width: 15px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.redDot {
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.greyDot {
  height: 15px;
  width: 15px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}